<div class="container mt-5">
    <h1 class="titulo1 text-center">CONTACTO</h1>
</div>

    <section id="contacto">
        <div class="container mb-5">
            <p>Completa tus datos:</p>
            <div class="row">
                <form>
                    <div class="mb-3">
                        <label for="" class="form-label text-white">Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-labe text-white">Asunto</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1"
                            class="form-label text-white text-white">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder=""></textarea>
                    </div>
                    <button id="enviarCorreo" type="submit" class="boton-ver-mas2"
                        title="Presiona aquí y tus datos serán enviados" data-toggle="tooltip">Enviar</button>
                </form>
            </div>
        </div>
    </section>
   