
<div class="container mt-5 mb-5">
    <h1 class="titulo1 text-center">Bienvenido al Portafolio de Ruby on Rails de Carlos Riquelme</h1>
    <p class="mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium sequi, optio 
        itaque saepe nemo minus molestiae nihil numquam exercitationem fuga incidunt molestias possimus libero earum atque nobis, 
        suscipit at nulla!</p>
</div>

