

<section id="mis-proyectos">

    <div class="container mt-5 mb-5">
        <div>
            <h1 class="titulo1 text-center"> Proyectos</h1>
        </div>
        <div class="row mt-5">
            <div class="mb-5 col-xl-4 col-lg-12">
                <div class="card mx-auto">
                    <%= image_tag "proyecto1.png"%>
                    <div class="card-body">
                        <h5 class="card-title">Proyecto 1</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia quo ullam cupiditate optio deserunt qui temporibus corporis dignissimos, consectetur vitae, nihil neque aliquid fugit possimus maiores quas alias accusamus tempora!.</p>
                        <button type="button" class="boton-ver-mas">Ver más</button>
                    </div>
                </div>
            </div>

            <div class="mb-5 col-xl-4 col-lg-12">
                <div class="card mx-auto">
                    <%= image_tag "proyecto2.png" %>
                    <div class="card-body">
                        <h5 class="card-title">Proyecto 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, dolore, et ipsum quidem totam accusamus eos maxime obcaecati voluptatibus reiciendis quos laboriosam temporibus animi tenetur nesciunt laborum vel at impedit!</p>
                        <button type="button" class="boton-ver-mas">Ver más</button>
                    </div>
                </div>
            </div>

            <div class="mb-5 col-xl-4 col-lg-12">
                <div class="card mx-auto">
                    <%= image_tag "proyecto3.png" %>
                    <div class="card-body">
                        <h5 class="card-title">Proyecto 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatem optio obcaecati repudiandae et exercitationem autem iure quaerat ab inventore delectus vitae, velit doloribus, dolor tenetur consequatur porro debitis impedit..</p>
                        <button type="button" class="boton-ver-mas">Ver más</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>